<?xml version="1.0"?>
<config>
    <modules>
        <Elgentos_Ymlp>
            <version>0.1.2</version>
        </Elgentos_Ymlp>
    </modules>
  <default>
    <ymlp>
        <general>
            <enabled>1</enabled>
        </general>
    </ymlp>
  </default>
  <global>
      <helpers>
           <ymlp>
            <class>Elgentos_Ymlp_Helper</class>
        </ymlp>
    </helpers>
    <blocks>
        <ymlp>
            <class>Elgentos_Ymlp_Block</class>
        </ymlp>
    </blocks>
    <models>
        <elgentoslymlp>
             <class>Elgentos_Ymlp_Model</class>
        </elgentoslymlp>
    </models>
    <events>
        <newsletter_subscriber_save_after>
            <observers>
                <newsletter_subscribe_observer>
                    <type>singleton</type>
                    <class>Elgentos_Ymlp_Model_Observer</class>
                    <method>dispatcher</method>
                </newsletter_subscribe_observer>
            </observers>
        </newsletter_subscriber_save_after>

        <newsletter_subscriber_delete_after>
            <observers>
                <newsletter_subscribe_observer>
                    <type>singleton</type>
                    <class>Elgentos_Ymlp_Model_Observer</class>
                    <method>unsubscribe</method>
                </newsletter_subscribe_observer>
            </observers>
        </newsletter_subscriber_delete_after>
        <cms_page_render>
            <observers>
                <ymlp>
                    <type>singleton</type>
                    <class>Elgentos_Ymlp_Model_Header</class>
                    <method>add</method>
                </ymlp>
            </observers>
        </cms_page_render>
    </events>
  </global>
</config>
